.boundary {
  max-width: 60em;
  margin-right: auto;
  margin-left: auto;
}
.container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}
.half_wide {
  min-width: 19.5em;
}
.full_wide {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
/*header*/
.top_nav {
  text-align: right;
}
/*main*/
h2 {
  margin-bottom: 1em;
}
section {
  margin-top: 1em;
}
section h1, h2 {
  text-align: center;
}
article {
  line-height: 1.563em;
  padding: 1.25em;
}
.mission {
  clear: both;
}
.endorsement_article {
  max-width: 50em;
}
/*footer*/
.footer_nav {
  text-align: right;
  padding-top: .5em;
}
.footer_nav_link {
  margin: 1.5em;
}
.copyright_text {
  padding-top: .5em;
}
.social_links {
  margin-top: .5em;
  padding-bottom: .5em;
}
