/*header*/
.home_header {
/*  min-height: 5em;*/
  background-color: #11709D;
  margin-bottom: 1em;
  color: white;
}
/*main*/
.endorsement {
  color: white;
}
.endorsement_quote {
  font-style: italic;
  font-size: 1.25em;
}
.treeback_background {
  background-image: url("../images/treeback.svg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tree_back {
  background-image: url("../images/tree.svg");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-repeat: no-repeat;
}
/*order form*/
.subscribe_form {
  border-radius: .5em;
  text-align: center;
  max-width: 25em;
  min-width: 19em;
}
.subscribe_legend {
  font-size: 1.563em;
  margin: 1em auto 1em auto;
}
.subscribe_fieldset {
  border-radius: .5em;
  padding: .375em;
  background-color: #979EAA;
}
.subscribe_input, .subscribe_button {
  height: 2em;
  width: 99%;
  font-size: 1em;
  border-radius: .375em;
  border: none;
  margin-bottom: .125em;
  padding-left: .25em;
}
.subscribe_label {
  margin-left: .3125em;
  font-size: .7em;
  font-weight: bold;
  text-transform: uppercase;
}
.subscribe_button {
  margin-top: .3125em;
  text-align: center;
  text-transform: uppercase;
  background-color: #00B233;
  color: white;
  box-shadow: 0 5px 0 #007F25;
}
/*footer*/
.home_footer {
  margin-top: 2em;
  background-color: #D0021B;
  text-align: center;
  clear: both;
  color: white;
}
.social_links {
  font-size: 1.5em;
}
/*utilities*/
.float_left {
  float: left;
}
.float_right {
  float: right;
}
/*clear fix*/
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.box-set {
  background: #e8eae9;
  float: left;
  width: 100%;
  overflow: auto;
}
