/*header*/
.home_header {
  min-height: 5em;
  background-color: #979EAA;
  margin-bottom: 1em;
  overflow: auto;
}
/*body*/
section:nth-child(even) {
  background-color: #979EAA;
}
/*order form*/
.subscribe_form {
  width: 300px;
  border-radius: 8px;
  padding: 2%;
}
.subscribe_legend {
  font-size: 1.25em;
  width: 300px;
  text-align: center;
  margin-bottom: 1em;
}
.subscribe_fieldset {
  border-radius: 8px;
  padding: 6px;
  background-color: #dddddd;
}
.subscribe_input, .subscribe_button {
  height: 2em;
  width: 99%;
  font-size: 1em;
  border-radius: 6px;
  border: none;
  margin-bottom: 2px;
  padding-left: 4px;
}
.subscribe_label {
  margin-left: 5px;
  font-size: .6em;
  text-transform: uppercase;
}
.subscribe_button {
  margin-top: 5px;
  text-align: center;
}
/*footer*/
.home_footer {
  height: 5em;
  margin-top: 2em;
  background-color: #D0021B;
  text-align: center;
  clear: both;
}
/*utilities*/
.float_left {
  float: left;
}
.float_right {
  float: right;
}
/*clear fix*/
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.box-set {
  background: #e8eae9;
  float: left;
  width: 100%;
  overflow: auto;
}
