a:hover {
  font-style: italic;
}
@media (max-width: 500px)  {
  .boundary{
    margin-right: 0;
    margin-left: 0;
  }
  article, form, h1, h2, form {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .home_header {
    height: 3em;
  }
  .logo_img {
    width: 7em;
  }
  .logo {
    text-align: center;
  }
  .top_nav {
    text-align: right;
    margin-top: .8em;
    margin-right: 4%;
  }
  .nav_link {
    margin: 0 .25em 0 .25em;
    text-align: center;
  }
  .footer_nav {
    text-align: center;
  }
  h1 {
    font-size: 1.25em;
  }
}
@media (min-width: 501px)  {
  .home_header {
    height: 5em;
  }
  .top_nav {
    margin-top: 1em;
  }
  .nav_link {
    margin: 0 1em;
  }
  .logo {
    margin: 0 0 0 6.5em;
    padding-top: .5em;
  }
  .container {
  -webkit-flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  }
  .half_wide {
    float: left;
    width: 42%;
  }
}
