a:hover {
  font-style: italic;
}
.subscribe_button {
  -webkit-transition: all .1s linear;
          transition: all .1s linear;
}
.subscribe_button:active {
  box-shadow: 0 2px 0 #007F25;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}
/*media queries*/
  /*base styles for mobile*/
@media (max-width: 500px)  {
  .home_header {
    height: 3em;
  }
  .logo_img {
    width: 7em;
  }
  .logo {
    text-align: center;
  }
  .top_nav {
    text-align: right;
    margin-top: .8em;
    margin-right: 4%;
  }
  .nav_link {
    margin: 0 .25em 0 .25em;
    text-align: center;
  }
  .footer_nav {
    text-align: center;
  }
  h1 {
    font-size: 1.25em;
  }
  .endorsement {
    border-radius: 2em;
  }
}
  /*sets all major blocks to full-width*/
  /* on smaller screens*/
@media (max-width: 600px) {
  .boundary{
    margin-right: 0;
    margin-left: 0;
  }
  article, form, h1, h2 {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .tree_back {
    background-image: url("../images/tree.svg");
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
  /*large header for larger screens*/
@media (min-width: 501px)  {
  .home_header {
    height: 5em;
  }
  .top_nav {
    margin-top: 1em;
  }
  .nav_link {
    margin: 0 1em;
  }
  .logo {
    margin: 0 0 0 6.5em;
    padding-top: .5em;
  }
}
  /*starts flexbox columns for major blocks*/
@media (min-width: 601px) {
  .half_wide {
    float: left;
    width: 42%;
  }
  /*animations for larger screens*/
  /* http://tympanus.net/codrops/2011/11/02/original-hover-effects-with-css3/ */
  .endorsement_quote {
    opacity:0;
    -webkit-transform: scale(10);
            transform: scale(10);
    -webkit-transition: all 0.3s ease-in-out 0.2s;
            transition: all 0.3s ease-in-out 0.2s;
  }
  .endorsement_article:hover .endorsement_quote {
    opacity:1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  /* http://jsfiddle.net/simurai/CGmCe/light/ */
  .tree_animation {
    width: 60px;
    height: 100px;
    background-image: url("../images/tree-sprite2.png");
    -webkit-animation: play .8s steps(7) infinite;
            animation: play .8s steps(7) infinite;
  }
  @-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -420px; }
  @keyframes play {
   from { background-position:    0px; }
     to { background-position: -420px; }
  }
}
