@font-face{
  font-family: 'Fira Sans Light';
  src: url('../fonts/FiraSans-Light.eot');
  src: local('Fira Sans Light'),
    url('../fonts/FiraSans-Light.eot') format('embedded-opentype'),
    url('../fonts/FiraSans-Light.woff') format('woff'),
    url('../fonts/FiraSans-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face{
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-LightItalic.eot');
  src: local('Fira Sans Light Italic'),
    url('../fonts/FiraSans-LightItalic.eot') format('embedded-opentype'),
    url('../fonts/FiraSans-LightItalic.woff') format('woff'),
    url('../fonts/FiraSans-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
@font-face{
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Regular.eot');
  src: local('Fira Sans Regular'),
    url('../fonts/FiraSans-Regular.eot') format('embedded-opentype'),
    url('../fonts/FiraSans-Regular.woff') format('woff'),
    url('../fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Italic.eot');
  src: local('Fira Sans Regular Italic'),
    url('../fonts/FiraSans-Italic.eot') format('embedded-opentype'),
    url('../fonts/FiraSans-Italic.woff') format('woff'),
    url('../fonts/FiraSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face{
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Bold.eot');
  src: local('Fira Sans Bold'),
    url('../fonts/FiraSans-Bold.eot') format('embeddedopentyp'),
    url('../fonts/FiraSans-Bold.woff') format('woff'),
    url('../fonts/FiraSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-BoldItalic.eot');
  src: local('Fira Sans Bold Italic'),
    url('../fonts/FiraSans-BoldItalic.eot') format('embedded-opentype'),
    url('../fonts/FiraSans-BoldItalic.woff') format('woff'),
    url('../fonts/FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face{
  font-family: 'SourceCodePro';
  src: url('../fonts/SourceCodePro-Regular.eot');
  src: local('SourceCodePro-Regular'),
    url('../fonts/SourceCodePro-Regular.eot') format('embedded-opentype'),
    url('../fonts/SourceCodePro-Regular.otf.woff') format('woff'),
    url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'SourceCodePro';
  src: url('../fonts/SourceCodePro-Light.eot');
  src: local('SourceCodePro-Light'),
    url('../fonts/SourceCodePro-Light.eot') format('embedded-opentype'),
    url('../fonts/SourceCodePro-Light.otf.woff') format('woff'),
    url('../fonts/SourceCodePro-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face{
  font-family: 'SourceCodePro';
  src: url('../fonts/SourceCodePro-Bold.eot');
  src: local('SourceCodePro-Bold'),
    url('../fonts/SourceCodePro-Bold.eot') format('embedded-opentype'),
    url('../fonts/SourceCodePro-Bold.otf.woff') format('woff'),
    url('../fonts/SourceCodePro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/*icon fonts*/
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?rd077y');
  src:url('../fonts/icomoon.eot?#iefixrd077y') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rd077y') format('truetype'),
    url('../fonts/icomoon.woff?rd077y') format('woff'),
    url('../fonts/icomoon.svg?rd077y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-google-plus:before {
  content: "\ea88";
}
.icon-facebook2:before {
  content: "\ea8d";
}
.icon-twitter:before {
  content: "\ea91";
}
