.subscribe_form
  text-align: center
  max-width: 25em
  min-width: 19em

.subscribe_legend
  font-size: 1.563em
  margin: 1em auto 1em auto

.subscribe_fieldset
  border-radius: 0.333em
  padding: 0.375em
  background-color: #979EAA

.subscribe_input
  height: 2em
  width: 99%
  font-size: 1em
  border-radius: 0.333em
  border: none
  margin-bottom: 0.125em
  padding-left: 0.25em

.subscribe_label
  font-size: 0.7em
  font-weight: bold
  text-transform: uppercase

.subscribe_button
  @extend .subscribe_input
  margin-top: 0.3125em
  text-align: center
  text-transform: uppercase
  background-color: $button-color
  color: white
  box-shadow: 0 5px 0 $button-dropshadow
  -webkit-transition: all 0.1s linear
  transition: all 0.1s linear
  &:active
    box-shadow: 0 2px 0 $button-dropshadow
    -webkit-transform: translateY(3px)
    transform: translateY(3px)
